{{define "content"}}
<section class="hero is-info welcome is-small">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Welcome 🙌🏾
            </h1>
            <h2 class="subtitle">
                Hopefully you'll find these dashboards useful.
            </h2>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <p>
            The idea is that you can use these dashboards to view information about rolasotelo's workspaces.
        </p>
    </div>
</section>
{{end}}